:root {
    --search-border-radius: 92px;
    --search-height: 46px;
    --search-gap-top-below: 18px;
    --search-button-right-position: 52px;
}

.wrapper {
    width: 100%;
    height: var(--header-height, 60px);
    box-shadow: 0px 1px 1px rgb(0 0 0 / 12%);
    display: flex;
    justify-content: center;
}

.header__content {
    height: 100%;
    width: var(--content-width, 1150px);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__content-logo {
}

.header__content-search {
    position: relative;
    width: 361px;
    height: var(--search-height);
    background-color: rgba(22, 24, 35, 0.06);
    display: flex;
    align-items: center;
    border-radius: var(--search-border-radius);
    padding: 0 0 0 16px;
    border: 1.5px solid transparent;

    input {
        flex: 1;
        height: 100%;
        color: var(--text-color, #828282);
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 22px;
        background-color: transparent;
        appearance: textfield;
        caret-color: var(--primary-color);
    }

    input:not(:placeholder-shown) ~ .header__content-search-btn {
        color: rgba(22, 24, 35, 0.75);
    }

    &::after {
        content: '';
        position: absolute;
        top: calc(var(--search-gap-top-below) / 2);
        right: var(--search-button-right-position);
        height: calc(var(--search-height) - var(--search-gap-top-below));
        width: 1px;
        background-color: rgba(22, 24, 35, 0.12);
    }

    &:focus-within {
        border-color: rgba(22, 24, 35, 0.2);
    }
}

.header__content-clear-btn,
.header__content-loading {
    position: absolute;
    right: calc(var(--search-button-right-position) + 16px);
    top: 50%;
    transform: translateY(-50%);
    color: rgba(22, 24, 35, 0.34);
}

.header__content-search-btn {
    width: var(--search-button-right-position);
    height: 100%;
    border-top-right-radius: var(--search-border-radius);
    border-bottom-right-radius: var(--search-border-radius);
    font-size: 1.8rem;
    font-weight: 500;
    color: rgba(22, 24, 35, 0.34);

    &:hover {
        cursor: pointer;
        background-color: rgba(22, 24, 35, 0.03);
    }

    &:active {
        background-color: rgba(22, 24, 35, 0.06);
    }
}
