.menu__content {
    width: 224px;

    a[href] {
        color: var(--text-bold-color);
    }
}

.menu__content-item {
    width: 100%;
    padding: 11px 16px;
    justify-content: flex-start;
    border-radius: unset;
    font-weight: 600;
    &:hover {
        background-color: rgba(22, 24, 35, 0.03);
    }
}

.menu__popper {
    padding-bottom: 8px;
}
